* {
  padding: 0px;
  margin: 0px;
}

html {
  font-size: 100%;
  /* 100% = 16px */
}

body {
  position: relative;
  min-height: 100vh;
}



/* Menú */
.titulo {
  font-family: FarnhamDisplay, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 5rem;
  padding: 120px 80px 30px 80px;
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  letter-spacing: 10px;

}

.navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.logo {
  padding: 16px;
}



/* Main */
.background__index {

  background-color: #000000;
}

.background__hoteles {
  background-color: #ffffff;
  padding-bottom: 150px;
}

.titulos {
  font-family: FarnhamDisplay, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 4rem;
  padding: 100px 0px 50px 0px;
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  letter-spacing: 10px;

}



/* Background_image */
.background_image--gob {
  background-image: url(../imagenes/gob.jpg);
  background-size: contain;
  background-size: cover;

}

.background_image--datos {
  background-image: url(../imagenes/rome_city_09_trevi-fountain_unsplash_1164x784.jpg);

  background-size: contain;
  background-size: cover;
}

.background_image--hoteles {
  background-image: url(../imagenes/ladodicomo.jpeg);
  background-size: contain;
  background-size: cover;
}

.background_image--lugares {
  background-image: url(../imagenes/lug.jpg);
  background-size: contain;
  background-size: cover;
}



/* Breadcrumb */
.inicio {
  font-weight: 500;
}

.inicio,
.active_1 {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  font-family: FarnhamDisplay, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.breadcrumb>li+li:before {
  color: #CCCCCC;
  content: "/ ";
  padding: 0 5px;
}

.breadcrumb {
  padding: 0px 0px 50px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
}



/* Contactos */
.contacto {

  height: 635px;
  padding: 240px 0px 250px 0px;
  align-items: center;
}

.contacto__formulario {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 50px;
  text-align: center;
}

.texto {
  font-family: FarnhamDisplay, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: .9rem;
  padding-bottom: 20px;
}

.text,
.email {
  background-color: #fbfbfb;
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border-width: 1px;
  margin-bottom: 30px;
}

.message {
  width: 300px;
  height: 80px;
  background-color: #fbfbfb;
  border-radius: 5px;
  border-width: 1px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.button {
  height: 35px;
  width: 300px;
  background-color: #e6e9e99c;
  border-color: #cbccda;
  border-radius: 5px;
  border-width: 1px;
  margin-bottom: 70px;
}

::placeholder {
  font-weight: 100;
  font-size: .9rem;
}



/* Cards */
.card-img-top {
  background-size: cover;
  background-position: center;
}

.card-group {
  margin: 100px 35px 0px 35px;
  padding-bottom: 7rem;
}

.card-text {
  font-size: .9rem;
  line-height: 30px;
}

.card-title {
  font-size: 1.1rem;
  font-weight: bolder;
}



/* Footer */
.footer {
  color: white;
  font-size: .8rem;
  text-align: center;
}

footer {
  width: 100%;
  height: 70px;
  background-color: #000000;
  position: absolute;
  bottom: 0px;
  list-style: none;
  text-align: center;

}

.footer__index {
  padding-top: -400px;
}

ul {
  padding-left: 0%;
  margin-top: 7px;
  margin-bottom: 7px;
}

ul li {
  display: inline;
}

ul li a {
  color: white;
  text-decoration: none;
  padding: 0px 15px 0px 15px;
  font-size: 1rem;
}

.facebook:hover {
  color: #3b5998;
}

.twitter:hover {
  color: #00acee;
}

.instagram:hover {
  color: #b95279;
}

.youtube:hover {
  color: #c4302b;
}




/* Sección */

.texto__gobierno,
.texto__datos,
.texto__lugares {

  padding: 100px 100px 200px 100px;
  line-height: 35px;
}

.hoteles {
  border: 3px solid rgb(216, 62, 62);
  background-color: rgb(255, 255, 255);
}

.hoteles,
.hoteles__end {
  margin-top: 100px;
  margin-left: 60px;
  margin-right: 60px;
  line-height: 35px;
}

.mb-3 {
  margin-bottom: 40px !important;
}

.mapa {
  width: 380px;
  padding-left: 40px;
}

.img__ {
  text-align: center;
  padding: 20px;
}

.img {

  width: 450px;
}

.img__b {
  margin-left: 60px;
  margin-right: 60px;
  text-align: center;
  margin-top: 120px;
  padding-top: 25px;
  padding-bottom: 30px;
  margin-bottom: 100px;
  border-top: 2px solid rgb(225, 24, 24);
}

.img__banner {
  width: 650px;
  text-align: center;
}

.float-md-start {
  padding: 50px 30px 50px 30px;
}

.img__ {
  padding-top: 30px;
}

.img__2 {
  padding-top: 100px;
}

iframe {
  max-width: 100%;
  height: auto;
}

.linea {
  border-left: 8px solid rgb(237, 35, 35);

}

.subtitulo {
  font-family: FarnhamDisplay, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  color: #030303;
  margin-left: 10px;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 15px;

}

p {
  font-family: FarnhamDisplay, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tabla {
  border: 1px solid #bb2d2d;
  margin: auto;
}

.tabla td {
  border: 1px solid #000000;
  padding: 2px 30px 2px 30px;
}

tr td:first-child {
  background: #f0f0f0;
  font-weight: bold;
  font-size: 1em;
}

.texto__lugares {
  padding: 100px 140px 200px 140px;
  line-height: 35px;
}




/* Media Querys*/

@media only screen and (max-width: 900px) {
  .titulo {
    font-size: 3rem;
    padding: 0px;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: center;
    flex-direction: row;
  }
}


@media only screen and (max-width: 1000px) {

  .navbar>.container,
  .navbar>.container-fluid,
  .navbar>.container-lg,
  .navbar>.container-md,
  .navbar>.container-sm,
  .navbar>.container-xl,
  .navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    align-content: flex-end;
  }

  .logo {
    width: 75px;
    padding: 5px 0px 5px 10px;

  }
}


@media only screen and (max-width: 768px) {
  .titulo {
    font-size: 1.5rem;
    padding: 0px !important;
  }
}


@media only screen and (max-width:480px) {
  .titulo {
    font-size: .8rem;
    padding: 0px;
  }
}


@media only screen and (max-width: 550px) {
  .titulos {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 400px) {
  .titulos {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 900px) {
  .contacto {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 400px 0px 500px 0px;
  }
}


@media screen and (max-width: 480px) {

  .contacto__formulario,
  .texto {
    font-size: .9rem;
    line-height: 25px;
  }

  ::placeholder {
    font-size: .7rem;
  }

  .text,
  .email,
  .button,
  .message {
    width: 250px;
  }
}


@media screen and (max-width: 768px) {
  .img__b {
    margin-left: 0px;
    margin-right: 0px;
  }
}


@media only screen and (max-width: 650px) {
  .texto__lugares {
    padding: 100px 50px 200px 50px;

  }
}


@media screen and (max-width: 600px) {
  .texto__datos {
    padding: 100px 50px 200px 50px;
  }

  table {
    width: 100%;
  }

  thead {
    display: none;
  }

  tr:nth-of-type(2n) {
    background-color: inherit;
  }

  tr td:first-child {
    background: #f0f0f0;
    font-weight: bold;
    font-size: .8em;
  }

  tbody td {
    display: block;
    text-align: center;
  }

  tbody td:before {
    content: attr(data-th);
    display: block;
    text-align: center;
  }
}


@media only screen and (max-width: 768px) {
  .img {
    width: 300px;
  }
}


@media only screen and (max-width: 600px) {
  .img {
    width: 270px;
  }
}


@media only screen and (max-width: 450px) {
  .img {
    width: 200px;
  }
}